/*
primary: #54BD8F
light grey: #D6D6D6
text color: #444444
dark grey: #232323
*/

body {
    background-color: #d6d6d6;
    color: #444;
    font-family: sans-serif;

h1,
h2,
h3 {
    color: #54bd8f;
    font-family: serif;
}

nav {
    background-color: #232323;
}

nav a {
    color: #fff;
}

}