/*
primary: #54bd8f
light grey: #d6d6d6
text color: #444444
dark grey: #232323
*/

/*  Typography and basic styles
    ******************************************************/

html {
    /* apply a natural box layout model to all elements, but allowing components to change */
    box-sizing: border-box;
    font-size: 16px;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}


body {
    max-width: 1200px;
    margin: auto;
    background-color: #d6d6d6;
    box-shadow: 0 0 2px rgba(180,180,180,.8);
    color: #444;
    font-family: 'Alegreya Sans', sans-serif;
}

h1,
h2,
h3 {
    color: #54bd8f;
}

h1,
h2 {
    font-size: 3rem;
    text-transform: uppercase;
    text-align: center;
}

/*  Header and navigation
******************************************************/

header {
    display: flex;
    justify-content: space-between;
    min-height: 50px;
    background-color: #fff;
}

.logo-link {
    flex-basis: 16vw;
    display: flex;
    align-items: center;
    padding: 0 1rem;
}

nav {
    flex: 1;
    display: flex;
    background-color: #232323;
}

nav ul {
    display: flex;
    flex-flow: row wrap;
    list-style: none;
    width: 100%;
    padding-left: 0;
    margin: 0;
}

nav li {
    flex: 1;
    display: flex;
    width: 100%;
}

nav a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 0.5rem 1.5rem;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    white-space: nowrap; /* prevent links with multiple words from wrapping */
}

nav a:hover,
nav a:focus {
    background-color: #54bd8f;
    color: #444;
}

/*  Sections
******************************************************/

.section,
footer {
    padding: 3vw 6vw;
}

.section--light {
    background-color: #fff;
}

.section--dark {
    background-color: #232323;
    color: #fff;
}

.section--primary {
    background-color: #54bd8f;
}

.section--primary h1,
.section--primary h2,
.section--primary h3,
.section--primary h4,
.section--dark h2,
.section--dark a {
    color: #fff;
}

/*  Jumbotron
    ******************************************************/

.section:first-child {
    padding-top: 2rem;
    padding-bottom: 0;
    text-align: center;
}

.jumbotron {
    padding-top: 8vw;
    padding-right: 1rem;
    padding-bottom: 16vw;
    padding-left: 1rem;
    background: url('../img/jumbotron-background.jpg') center no-repeat;
    background-size: cover;
    margin-right: -6vw;
    margin-left: -6vw;
    color: #fff;
    font-size: 2rem;
}

.jumbotron h1 {
    margin: 0;
    color: #fff;
    font-size: 2em;
    font-weight: normal;
    text-transform: none;
}

.jumbotron strong {
    color: #54bd8f;
    /* workaround for custom text-decoration */
    display: inline-block;
    line-height: 1;
    border-bottom: 8px solid #fff;
}

.jumbotron p {
    margin: 0;
    font-size: 1.5em;
}

.claim {
    padding: 3vw 6vw;
    background-color: #d6d6d6;
    font-size: 1.4em;
    text-align: center;
}

/*  Promo
    ******************************************************/

.section--promo {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
}

.section--promo h2 {
    color: #54bd8f;
    font-size: 2.2rem;
    text-transform: none;
}

.section--promo article {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    position: relative;
    padding: 0 2.5rem;
}


@media only screen and (min-width: 500px) {

    .section--promo article {
        width: 50%;
    }

}

@media only screen and (min-width: 900px) {

    .section--promo {
        padding-top: 70px;
    }

    .section--promo article {
        width: 25%;
    }

    .section--promo article:before {
        content: '';
        display: block;
        position: absolute;
        top: -70px;
        width: 140px;
        height: 140px;
        background-color: #d6d6d6;
        border-radius: 0 0 50% 50%;
        margin-top: -70px;
    }
}

/*  Portfolio section
    ******************************************************/

.projects {
    display: flex;
    flex-wrap: wrap;
    margin: -1rem;
}

.projects h2,
.projects h3 {
    color: #232323;
}

.project {
    background-color: #fff;
    border: .5vw solid #54bd8f;
    padding: 1rem;
    text-align: center;
}

@media only screen and (min-width: 500px) {

    .project {
        width: 50%;
    }
}

@media only screen and (min-width: 900px) {

    .project {
        width: 25%;
    }
}

.project img {
    max-width: 100%;
}

.project-description {
    padding: 0 0.25rem;
    background-color: #d6d6d6;
    text-align: left;
}

/*  About me section
    ******************************************************/

.about {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
}

.about-image {
    flex: 1 1 320px;
    margin-right: 2rem;
    text-align: center;
}

.about-image img{
    max-width: 100%;
    border-radius: 50%;
}

.about-text {
    flex: 1 0 320px; /* image width */
    max-width: 100%;
    padding: 0 2rem;
}

/*  Contact form
    ******************************************************/

.form-contact {
    display: flex;
    flex-wrap: wrap;
}

.form-group {
    width: 100%;
    margin-bottom: 1rem;
    color: #fff;
}

.form-group:not(:last-child) {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    border-bottom: 1px solid #fff;
}

@media only screen and (min-width: 600px) {

    .form-group:not(:last-child) {
        width: 50%;
    }
}

.form-group input,
.form-group textarea,
.form-group button {
    padding: .5rem 1rem;
    border: 0;
}

.form-group label {
    margin-right: 1rem;
}

.form-group input {
    flex: 1;
    background-color: #54bd8f;
}

.form-group input:focus {
    background-color: rgba(255, 255, 255, .3);
}

.form-group textarea,
.form-group button {
    display: block;
    width: 100%;
    border-radius: .2em;
}

.form-group textarea {
    margin-bottom: 1rem;
}

.form-group button {
    background: #232323;
    color: #fff;
}

.form-label-required::after {
    content: '*';
}

/*  Utilities
    ******************************************************/

footer p:first-child {
    font-size: 3rem;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
}


/*  Utilities
    ******************************************************/

.accessible-hidden {
    position: absolute;
    top: 0;
    left: -999px;
    height: 1px;
    width: 1px;
    clip: rect(1px, 1px, 1px, 1px);
    white-space: nowrap;
}

.accessible-hidden:focus {
    position: fixed;
    top: 0;
    left: 0;
    background: #fff;
    padding: 10px;
    width: auto;
    height: auto;
    clip: auto;
}

/* Only display content to screen readers
Taken from Bootstrap 4: https://github.com/twbs/bootstrap/blob/v4-dev/scss/mixins/_screen-reader.scss
See: http://a11yproject.com/posts/how-to-hide-content/
See: https://hugogiraudel.com/2016/10/13/css-hide-and-seek/
*/
.sr-only {

  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  clip-path: inset(50%);
  border: 0;
}